@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Raleway&family=Rubik&display=swap");
/*     sass template     */
button, button:focus {
  outline: none !important;
  box-shadow: none !important;
}

/* ======================for all title=========== */
.heading-title {
  padding-bottom: 10px;
  color: #00A5C4;
}

.heading-title::after {
  display: block;
  content: "";
  width: 100px;
  border: 1px solid #00A5C4;
  margin-top: 10px;
}

/* ==============font typography========== */
.font-baloo {
  font-family: "Baloo Thambi 2", cursive !important;
}

.font-rale {
  font-family: "Raleway", sans-serif !important;
}

.font-rubik {
  font-family: "Rubik", sans-serif !important;
}

.font-size-12 {
  font-size: 12px !important;
}

.font-size-14 {
  font-size: 14px !important;
}

.font-size-16 {
  font-size: 16px !important;
}

.font-size-20 {
  font-size: 20px !important;
}

/* ==============font color typography========== */
.primary-text {
  color: #003859 !important;
}

.second-text {
  color: #00A5C4 !important;
}

.yellow-text {
  color: #FFD289 !important;
}

/* ==========color template=========== */
.color-primary {
  color: #003859;
}

.color-primary-bg {
  background: #003859;
}

.color-second {
  color: #00A5C4;
}

.color-second-bg {
  background: #00A5C4;
}

.color-yellow {
  color: #FFD289;
}

.color-yellow-bg {
  background: #FFD289;
}

#header .top-header {
  height: 50px;
}
#header .top-contact span {
  border-left: 1px solid #b2b2b2;
  padding: 0.5rem !important;
}
#header .top-contact .b-r {
  border-right: 1px solid #b2b2b2;
}
#header .inner-header {
  padding: 1rem 0;
}
#header .inner-header .site-logo img {
  width: 40%;
  margin: 0 1rem;
}
#header .search-box {
  width: 80%;
  height: 50px;
}
#header .search-box .input-group .input-group-append .input-group-text {
  background-color: #00A5C4;
  color: #ffffff;
}
#header .form-inline .input-group {
  width: 100%;
  height: 20px;
}
#header .shopping-cart {
  position: absolute;
  right: 50px;
}
#header .shopping-cart span {
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #00A5C4;
  padding: 1px;
  color: #ffffff;
  text-align: center;
  font-size: 10px;
}

/* ===========Banner Owl Carousel ==========*/
.banner-owl-carouse {
  width: 100%;
  height: 100vh;
}

.slide {
  width: 100%;
  height: 75vh;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.slide-content {
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  padding: 0 20%;
}

.slide-content h1 {
  font-family: "Baloo Thambi 2", cursive;
  font-size: 45px;
  text-transform: uppercase;
}

.slide-content p {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  margin-bottom: 20px;
}

.slide-content button {
  font-family: "Rubik", sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bolder;
  padding: 10px 25px;
  border: none;
}

.owl-dots {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 1%;
}

.owl-dots span {
  width: 20px !important;
  height: 20px !important;
  background-color: #003859 !important;
}

.owl-dots button {
  border: none !important;
  outline: none !important;
}

.owl-nav button {
  border: none !important;
  outline: none !important;
  background-color: #003859;
}

.owl-prev, .owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #003859 !important;
  font-size: 65px !important;
  font-weight: bolder !important;
  background: none !important;
}

.owl-prev {
  left: 1%;
}

.owl-next {
  right: 1%;
}

/* ============ button typography============= */
.btn {
  border-radius: 0 !important;
}

.primary-btn {
  color: #ffffff;
  background-color: #00A5C4;
  border-color: #00A5C4;
}

.primary-btn:hover {
  background-color: #27b9e4;
  border-color: #27b9e4;
  color: #ffffff;
}

/*========= top-sele section ========*/
#top-sale .tap-sale-owl-carousel .item .product a {
  overflow: hidden;
}
#top-sale .tap-sale-owl-carousel .item .product img {
  transition: transform 0.5s ease;
}
#top-sale .tap-sale-owl-carousel .item .product img:hover {
  transform: scale(1.1);
}

/*================= typography of special price=================*/
#special-price .active-btn {
  border-bottom: 2px solid #00A5C4;
  color: #00A5C4;
}
#special-price .grid .product a {
  overflow: hidden;
}
#special-price .grid .product img {
  transition: transform 0.5s ease;
}
#special-price .grid img:hover {
  transform: scale(1.1);
}

/*========= new product section ========*/
#new-product .new-product-owl-carousel .item .product a {
  overflow: hidden;
}
#new-product .new-product-owl-carousel .item .product img {
  transition: transform 0.5s ease;
}
#new-product .new-product-owl-carousel .item .product img:hover {
  transform: scale(1.1);
}

#product .product-gallery-slider .active-product-pic {
  border: 1px solid #003859;
}
#product .product-gallery-slider.owl-theme .owl-nav button[type=button] {
  font-size: 20px !important;
  color: #003859 !important;
  text-align: center;
  background-color: #ffffff !important;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0px 6px 10px -1px #e9e9e9 !important;
}
#product .product-gallery-slider.owl-theme .owl-nav .owl-prev {
  left: -4%;
}
#product .product-gallery-slider.owl-theme .owl-nav button[type=button]:hover {
  background-color: #003859 !important;
  color: #ffffff !important;
}
#product .product-gallery-slider.owl-theme .owl-nav .owl-next {
  right: -4%;
}
#product .prodcut-title {
  position: relative;
}
#product .heart-icon {
  position: absolute;
  right: 0;
  top: 0;
}
#product .quantity {
  margin: 20px 0;
}
#product .quantity .product-qty {
  width: 129px;
  height: 40px;
  border: 1px solid #dadada;
  margin-right: 20px;
}
#product .quantity .product-qty span {
  cursor: pointer;
  color: #b2b2b2;
  font-size: 15px;
  line-height: 30px;
  width: 15px;
  padding: 10px 12px;
  background-color: #dadada;
}
#product .quantity .product-qty input {
  text-align: center;
  width: 43px;
  font-size: 20px;
  border: none;
  line-height: 30px;
  text-align: center;
}
#product .n-v {
  padding-bottom: 20px;
}
#product .nav-tab-list a {
  color: #212529;
}
#product .nav-tab-list .active {
  border-bottom: 2px solid #00A5C4 !important;
  color: #00A5C4;
}
#product .justify-content-center img {
  width: 75%;
  margin: 0 2.5rem;
}
#product .customer-review-option .comment-item {
  padding-bottom: 1rem;
}
#product .customer-review-option .comment-item .media .customer-img {
  margin: 1rem 1.5rem 0 0;
}
#product .customer-review-option .leave-comment input,
#product .customer-review-option .leave-comment textarea {
  margin: 0.6rem 0;
}
#product .customer-review-option .leave-comment .form-control {
  border-radius: 0 !important;
}

/* for media query */
/* ========= Responsive Media Styles =========== */
/* Medium Device: 1200px */
/* Tablet Device: 768px */
/* Large Device: 480px */
/* Small Device: 320px */

/*# sourceMappingURL=style.css.map */
