/* ============ button typography============= */
.btn {
    border-radius: 0 !important;
}
.primary-btn {
    color: $color-white;
    background-color: $color-second;
    border-color: $color-second;
}
.primary-btn:hover{
    background-color: $btn-hover-color;
    border-color: $btn-hover-color;
    color: $color-white;
}