button, button:focus {
    outline: none !important;
    box-shadow: none !important;
}
/* ======================for all title=========== */
.heading-title {
    padding-bottom: 10px;
    color: $color-second;  
}
.heading-title::after {
    display: block;
    content: '';
    width: 100px;
    border: 1px solid $color-second;
    margin-top: 10px;
}
