#header{
    .top-header {
        height: 50px;
    }
    .top-contact span{
        border-left: 1px solid $color-gray-o;
        padding: .5rem !important;
    }
    .top-contact .b-r {
        border-right: 1px solid $color-gray-o;
    }
    .inner-header{
        padding: 1rem 0;
    }
    .inner-header .site-logo img{
        width: 40%;
        margin: 0 1rem;
    }
    .search-box {
        width: 80%;
        height: 50px;
    }
    .search-box .input-group .input-group-append .input-group-text {
        background-color: $color-second;
        color: $color-white;
    }
    .form-inline .input-group{
        width: 100%;
        height: 20px;
    }
    .shopping-cart {
        position: absolute;
        right: 50px;
    }
    .shopping-cart span {
        position: absolute;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: $color-second;
        padding: 1px;
        color: $color-white;
        text-align: center;
        font-size: 10px;
    }

    
}