/*========= new product section ========*/
#new-product{
    .new-product-owl-carousel .item .product a {
        overflow: hidden;
    }
    .new-product-owl-carousel .item .product img {
        transition: transform .5s ease;
    }
    .new-product-owl-carousel .item .product img:hover {
        transform: scale(1.1);
    }
}