/* ===========Banner Owl Carousel ==========*/

.banner-owl-carouse {
    width: 100%;
    height: 100vh;
}

.slide {
    width: 100%;
    height: 75vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}
.slide-content {
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    padding: 0 20%;
}
.slide-content h1 {
    font-family: $font-baloo;
    font-size: 45px;
    text-transform: uppercase;
}
.slide-content p {
    font-family: $font-raleway;
    font-size: 18px;
    margin-bottom: 20px;
}
.slide-content button {
    font-family: $font-rubik;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 10px 25px;
    border: none;
}
.owl-dots {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 1%;
}
.owl-dots span {
    width: 20px !important;
    height: 20px !important;
    background-color: $color-primary !important;
}
.owl-dots button {
    border: none !important;
    outline: none !important;
}
.owl-nav button {
    border: none !important;
    outline: none !important;
    background-color: $color-primary;
}
.owl-prev, .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: $color-primary !important;
    font-size: 65px !important;
    font-weight: bolder !important;
    background:none !important;
}
.owl-prev {
    left: 1%;
}
.owl-next {
    right: 1%;
}