// ============ start product details ========= //
#product {
    .product-gallery-slider .active-product-pic {
        border: 1px solid $color-primary;
    }
    .product-gallery-slider.owl-theme .owl-nav button[type=button] {
        font-size: 20px !important;
        color: $color-primary !important;
        text-align: center;
        background-color: $color-white !important;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        box-shadow: 0px 6px 10px -1px #e9e9e9 !important;
    }
    .product-gallery-slider.owl-theme .owl-nav .owl-prev {
        left: -4%;
    }
    .product-gallery-slider.owl-theme .owl-nav button[type=button]:hover {
        background-color: $color-primary !important;
        color: $color-white !important;
    }
    .product-gallery-slider.owl-theme .owl-nav .owl-next {
        right: -4%;
    }
    .prodcut-title {
        position: relative;
    }
    .heart-icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .quantity{
        margin: 20px 0;
    }
    .quantity .product-qty {
        width: 129px;
        height: 40px;
        border: 1px solid $color-gray;
        margin-right: 20px;
    }
    .quantity .product-qty span {
        cursor: pointer;
        color: $color-gray-o;
        font-size: 15px;
        line-height: 30px;
        width: 15px;
        padding: 10px 12px;
        background-color: $color-gray;
    }
    .quantity .product-qty input {
        text-align: center;
        width: 43px;
        font-size: 20px;
        border: none;
        line-height: 30px;
        text-align: center;
    }
    .n-v{
        padding-bottom: 20px;
    }
    .nav-tab-list a{
        color: $color-black;
    }
    .nav-tab-list .active {
        border-bottom: 2px solid $color-second !important;
        color: $color-second;
    }
    .justify-content-center img {
        width: 75%;
        margin: 0 2.5rem;
    }
    .customer-review-option .comment-item {
        padding-bottom: 1rem;
    }
    .customer-review-option .comment-item .media .customer-img {
        margin: 1rem 1.5rem 0 0;
    }
    .customer-review-option .leave-comment input,
        .customer-review-option .leave-comment textarea{
        margin: .6rem 0;
    }
    .customer-review-option .leave-comment .form-control {
        border-radius: 0 !important;
    }
}
// ============ end product details =========== //