/*================= typography of special price=================*/
#special-price {
    .active-btn {
        border-bottom: 2px solid $color-second;
        color: $color-second;
    }
    .grid .product a {
        overflow: hidden;
    }
    .grid .product img {
        transition: transform .5s ease;
    }
    .grid img:hover {
        transform: scale(1.1);
    }
}