/*========= top-sele section ========*/
#top-sale{
    .tap-sale-owl-carousel .item .product a {
        overflow: hidden;
    }
    .tap-sale-owl-carousel .item .product img {
        transition: transform .5s ease;
    }
    .tap-sale-owl-carousel .item .product img:hover {
        transform: scale(1.1);
    }
}