/* ==============font typography========== */
.font-baloo {
    font-family: $font-baloo !important;
}
.font-rale {
    font-family: $font-raleway !important;
}
.font-rubik {
    font-family: $font-rubik !important;
}
.font-size-12 {
    font-size: 12px !important;
}
.font-size-14 {
    font-size: 14px !important;
}
.font-size-16 {
    font-size: 16px !important;
}
.font-size-20 {
    font-size: 20px !important;
}
/* ==============font color typography========== */
.primary-text {
    color: $color-primary !important;
}
.second-text {
    color: $color-second !important;
}
.yellow-text {
    color: $color-yellow !important;
}
