$font-baloo : "Baloo Thambi 2", cursive;
$font-raleway : "Raleway", sans-serif;
$font-rubik : "Rubik", sans-serif;

$color-primary : #003859;
$color-second : #00A5C4;
$color-yellow : #FFD289;
$color-white : #ffffff;
$color-gray : #dadada;
$color-gray-o :#b2b2b2;
$btn-hover-color: #27b9e4;
$color-black: #212529;
$color-light-gray: #e5e5e5;

